.desktop-content{
    .splitters-descriptors{
        display: flex;
        width: inherit;
        .inside-menu{
            color: #181830;
            text-decoration: none;
        }
        .github::after{
            content: " ";
            display: block;
            width: inherit;
            height: .011px;
            background-color: #181830;
            border-radius: 15px;
            // margin:2em 1em;
            border: none;
            margin-top:.8em;
            padding-bottom: .3em;
            
        }
        .github-users-left{
            flex:2  !important;
            margin-right: 2em;
            .user-contributions{
                font-size: 10pt;
                display: flex;
                .user-left{
                 margin-right:1em;
                }
                .companies-right{
                    align-self: flex-end;
                    margin-left: auto!important;
                    color:#757575
                }
                
                }
        }
        .github-companies-right{
            flex:2  !important;
        }
        .github-companies-right,.github-users-left{
            .user-contributions{
                font-size: 10pt;
                display: flex;
                .user-left{
                 margin-right:1em;
                }
                .companies-right{
                    align-self: flex-end;
                    margin-left: auto!important;
                    color:#757575
                }
                
                }
        }
    }
}
